body{
    background-color: #110F41;
    color: #ffffff;
    text-align: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: palevioletred;
    border-bottom: solid thick 	#6E95FA;
    padding: 0;
}

.flash{
    padding-top: 20px;
    color: #ffffff;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.star1{
    animation-iteration-count: infinite;
    height: 155px;
    width: auto;
    position: absolute;
    left: 550px;
    top: 250px;
}

.star2{
    animation-iteration-count: infinite;
    height: 75px;
    width: auto;
    position: absolute;
    left: 700px;
    top: 150px;
}

.star3{
    animation-iteration-count: infinite;
    height: 150px;
    width: auto;
    position: absolute;
    right: 550px;
    top: 300px;
}

.star4{
    animation-iteration-count: infinite;
    height: 95px;
    width: auto;
    position: absolute;
    right: 600px;
    top: 255px;
}

.star5{
    animation-iteration-count: infinite;
    height: 250px;
    width: auto;
    position: absolute;
    right: 150px;
    top: 425px;
}

.star6{
    animation-iteration-count: infinite;
    height: 175px;
    width: auto;
    position: absolute;
    right: 538px;
    top: 150px;
}

.star7{
    animation-iteration-count: infinite;
    height: 125px;
    width: auto;
    position: absolute;
    left: 575px;
    top: 200px;
}

.star8{
    animation-iteration-count: infinite;
    height: 150px;
    width: auto;
    position: absolute;
    left: 675px;
    top: 325px;
}


p{
    font-weight: bold;
    color: purple;
}

span{
    color: white;
}

footer{
    background-color: palevioletred;
    padding: 20px;
    clear: both;
}