body{
    background-color: #110F41;
    color: #ffffff;
    text-align: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #DB7093;
    border-bottom: solid thick 	#6E95FA;
    padding: 0;
}

.flash{
    color: #ffffff;
}

.eye{
    height: 300px;
    width: auto;
}

.Intro{
    font-family: 'Metamorphous', cursive;
    color:#DB7093;
}

.star1{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    height: 150px;
    width: auto;
    position: absolute;
    left: 550px;
    top: 230px;
}

.star2{
    animation-iteration-count: infinite;
    animation-duration: 2s;
    height: 75px;
    width: auto;
    position: absolute;
    left: 700px;
    top: 150px;
}

.star3{
    animation-iteration-count: infinite;
    animation-duration: 3s;
    height: 140px;
    width: auto;
    position: absolute;
    right: 550px;
    top: 280px;
}

.star4{
    animation-iteration-count: infinite;
    animation-duration: 4s;
    height: 85px;
    width: auto;
    position: absolute;
    right: 600px;
    top: 255px;
}

.star5{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    height: 250px;
    width: auto;
    position: absolute;
    right: 150px;
    top: 340px;
}

.star6{
    animation-iteration-count: infinite;
    animation-duration: 2s;
    height: 170px;
    width: auto;
    position: absolute;
    right: 538px;
    top: 150px;
}

.star7{
    animation-iteration-count: infinite;
    animation-duration: 3s;
    height: 125px;
    width: auto;
    position: absolute;
    left: 575px;
    top: 150px;
}

.star8{
    animation-iteration-count: infinite;
    animation-duration: 4s;
    height: 140px;
    width: auto;
    position: absolute;
    left: 700px;
    top: 260px;
}


p{
    font-family: 'Metamorphous', cursive;
    font-weight: bold;
    color: 	#800080;
    padding: 0;
}

span{
    color: white;
}

footer{
    background-color: #DB7093;
    border-bottom: solid thick	#6E95FA;
    padding: 20px;
    clear: both;
}